:root {
    --navbar-color: #fff;
    --navbar-bg-color: #4700ff;
    --dot-color: #4700ff;
    --transparent-color: rgba(0,0,0,0);
    --install-bg-color: #CCC;
    --install-button-bg-color: #4700ff;
    --install-button-color: #fff;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
}
header {
    display: block;
    position: relative;
    z-index: 10;
    width: 100vw;
    box-shadow: 0 0 8px #888;
}
main {
    height: 100%;
    display: block;
    color: var(--color);
    overflow: auto;
}
footer {
    background: white;
    width: 100%;
    box-shadow: 0 0 8px #888;
}
/* toolbar */
.toolbar, .toolbar li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.toolbar {
    display: flex;
    flex-direction: row;
}
.toolbar li {
    flex: 1;
}
.toolbar-button {
    display: block;
    height: 50px;
    line-height: 40px;
    text-align: center;
}
/* navbar */
.navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-color);
    padding-left: 60px;
}
.navbar-brand {
    position: absolute;
    color: white;
}
.navbar a {
    color: var(--navbar-color);
    text-decoration: none;
}
.navbar-logo {
    display: block;
    width: 24px;
    line-height: 24px;
    border: 2px solid white;
    text-align: center;
    margin: 10px 16px;
}
.navbar .navbar-brand {
    flex: 0;
}
.navbar a.active {
    position: relative;
}
.navbar a.active::after {
    content: "";
    display: block;
    border: 3px solid var(--navbar-color);
    width: 0;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    margin-top: -6px;
}
/* news */
.items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.item {
    list-style: none;
    margin: 0;
    padding: 16px;
    border-top: 1px solid #DDD;
    background-color: white;
}
.item:first-child {
    border-top: 0;
}
/* item */
.item h2 {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    margin: 8px 0;
}
.item a.comments-link {
    display: inline-block;
    margin-top: 8px;
}
* comments */
.comments {
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
}
.comments.root {
    margin: 16px 0 0;
}
.comments .comments {
    border-left: 1px solid #DDD;
}
.comments:empty {
    display: none;
}
/* comment */
.comment {
    list-style: none;
    padding: 16px 0 0 16px;
    border-top: 1px solid #DDD;
    background-color: white;
}
.comment .content {
    color: var(--content-color);
}
.comment pre {
    white-space: pre-wrap;
}
/* pager */
[data-paging="off"] .paging {
    display: none;
}
.paging {
    position: relative;
}
.paging a.toolbar-button {
      padding-top: 50px;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
}
.paging a.toolbar-button::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    transform: rotate(-45deg);
    width: 0.45em;
    position: absolute;
    left: 50px;
    top: 21px;
}
.paging-next a.toolbar-button::before {
    transform: rotate(45deg);
    left: auto;
    right: 50px;
}
.paging-current {
    line-height: 50px;
    text-align: center;
    flex: 4;
}
.paging-prev a.toolbar-button::before {
    transform: rotate(-135deg);
}
.disabled {
    display: none;
}
/* loader */
@keyframes loading {
    0% {
        box-shadow: 1em 0 0 0 var(--transparent-color), 3em 0 0 0 var(--transparent-color), 5em 0 0 0 var(--transparent-color);
    }
    25% {
        box-shadow: 1em 0 0 0 var(--dot-color), 3em 0 0 0 var(--transparent-color), 5em 0 0 0 var(--transparent-color);
    }
    50% {
        box-shadow: 1em 0 0 0 var(--dot-color), 3em 0 0 0 var(--dot-color), 5em 0 0 0 var(--transparent-color);
    }
    75% {
        box-shadow: 1em 0 0 0 var(--dot-color), 3em 0 0 0 var(--dot-color), 5em 0 0 0 var(--dot-color);
    }
    100% {
        box-shadow: 1em 0 0 0 var(--transparent-color), 3em 0 0 0 var(--transparent-color), 5em 0 0 0 var(--transparent-color);
    }
}
[data-loading]::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    margin-left: -3.5em;
    margin-top: -.5em;
    animation: loading 1s linear infinite;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
/* fadein */
@keyframes fadein {
    from {opacity: 0.1}
    to {opacity: 1}
}
main {
    animation: fadein 0.2s linear;    
}
body[data-loading] main {
    opacity: 0.3;
    animation: inherit;
}

nav.install {
    background-color: var(--install-bg-color);
    box-shadow: 0 0 8px #888;        
    text-align: center;
    display: none;
}
nav.install button.install {
    background-color: var(--install-button-bg-color);
    color: var(--install-button-color);
    margin: 8px auto;
    padding: 4px 10px;
    border: 0px;
    border-radius: 3px;
}
nav.install button.close {
    background-color: var(--install-bg-color);
    color: var(--install-button-bg-color);
    margin: 8px;
    border: 0px;
    position: absolute;
    right: 0px;
    font-size: 20px;
}